<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>DeadZone</title>
    <link rel="stylesheet" href="/styles/menu.css">
    <link href="/styles/fonts-styles.css" rel="stylesheet">
    <script src="/scripts/pages/mode-selection/exitModeSelection.js" defer></script>
    <script src="/scripts/pages/mode-selection/openSingleplayer.js" defer></script>
    <script src="/scripts/pages/mode-selection/openMultiplayer.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">ВЫБЕРИ РЕЖИМ ИГРЫ</h2>
    <div class="menu-buttons">
        <button class="btn btn-singleplayer" data-target="singleplayer">ОДИНОЧНАЯ ИГРА</button>
        <button class="btn btn-multiplayer">МНОГОПОЛЬЗОВАТЕЛЬСКАЯ ИГРА</button>
        <button class="btn btn-exit" data-target="show">НАЗАД</button>
    </div>
</div>
</body>
</html>