<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>DeadZone</title>
        <link rel="stylesheet" href="/styles/menu.css">
        <link rel="stylesheet" href="/styles/multiplayer.css">
        <link rel="stylesheet" href="/styles/create-room.css">
        <link href="/styles/fonts-styles.css" rel="stylesheet">
        <script type="module" src="/scripts/pages/multiplayer/multiplayerSession.js" defer></script>
        <script src="/scripts/pages/buttons-sound/ButtonsSound.js" defer></script>
    </head>
    <body>
        <div class="menu-screen menu-choose screen" id="screen-lobby-menu">
            <h2 class="menu-title">ЛОББИ</h2>
            <div class="menu-buttons">
                <button class="btn btn-createRoom">СОЗДАТЬ КОМНАТУ</button>
                <button class="btn btn-joinRoom">ПРИСОЕДИНИТЬСЯ К КОМНАТЕ</button>
                <button class="btn btn-serversList disabled" title="В РАЗРАБОТКЕ ...">СПИСОК СЕРВЕРОВ</button>
                <button class="btn btn-exit-to-mode-selection">НАЗАД</button>
            </div>
        </div>

        <div class="menu-screen menu-choose screen hidden" id="screen-create-room">
            <h2 class="menu-title">СОЗДАНИЕ КОМНАТЫ</h2>
            <input type="submit" class="room-submit btn" id="btn-submit-create" value="СОЗДАТЬ КОМНАТУ">
            <div class="menu-buttons">
                <button class="btn btn-back-to-lobby">НАЗАД</button>
            </div>
        </div>

        <div class="menu-screen menu-choose screen hidden" id="screen-join-room">
            <h2 class="menu-title">ПРИСОЕДИНЕНИЕ К КОМНАТЕ</h2>
            <div class="input-container-id input-container">
                <label class="input-id-label input-label">Введите id комнаты:
                    <input type="text" class="input-name input" id="input-room-id">
                </label>
            </div>
            <p id="join-error-message" style="color: #ff4444; display: none;"></p>
            <input type="submit" class="room-submit join-room-submit btn" id="btn-submit-join" value="ПРИСОЕДИНИТЬСЯ">
            <div class="menu-buttons">
                <button class="btn btn-back-to-lobby">НАЗАД</button>
            </div>
        </div>

        <div class="menu-screen menu-choose screen hidden" id="screen-room">
            <h2 class="menu-title">КОМНАТА</h2>
            <div class="room-stats">
                <h3 class="roomId">ID КОМНАТЫ: <span id="roomId-span">—</span></h3>
                <p class="players-count">
                    <span class="cur-players-count count" id="cur-players-count">0</span>/<span class="max-players-count count" id="max-players-count">0</span>
                </p>
                <div class="players-list" id="players-list"></div>
            </div>
            <div class="room-settings">
                <h3 class="room-settings__title">НАСТРОЙКИ МАТЧА</h3>
                <div class="room-settings__list">
                    <label class="room-settings__item" id="label-fog-toggle">
                        <span class="room-settings__label-text">ТУМАН ВОЙНЫ</span>
                        <input type="checkbox" class="room-settings__checkbox" id="fog-toggle" checked>
                        <span class="room-settings__custom-checkbox"></span>
                    </label>
                </div>
            </div>
            <button class="room-submit ready-btn btn" id="ready-btn">ГОТОВ</button>
            <button class="room-submit btn hidden disabled" id="start-game-btn">НАЧАТЬ ИГРУ</button>
            <div class="menu-buttons">
                <button class="btn" id="btn-exit-room">ВЫЙТИ ИЗ КОМНАТЫ</button>
            </div>
        </div>

        <div class="menu-screen menu-choose screen hidden" id="screen-game">
            <div id="fade-overlay" style="position:fixed; top:0; left:0; width:100%; height:100%; background:black; opacity:0; pointer-events:none; transition: opacity 0.3s;"></div>
            <canvas id="gameCanvas" width="1280" height="720" data-target="multiplayer"></canvas>
            <div id="screen-pause" class="pause-overlay">
                <div class="menu-screen menu-choose">
                    <h2 class="menu-title">ПАУЗА</h2>

                    <div class="room-settings">
                        <h3 class="room-settings__title">КАЧЕСТВО ГРАФИКИ</h3>
                        <div class="room-settings__list">
                            <div class="room-settings__select-wrapper">
                                <select id="resolution-select" class="room-settings__select">
                                    <option value="3840x2160">4K (УЛЬТРА)</option>
                                    <option value="2560x1440">1440p (ВЫСОКОЕ)</option>
                                    <option value="1920x1080" selected>1080p (СТАНДАРТ)</option>
                                    <option value="1280x720">720p (БЫСТРО)</option>
                                    <option value="854x480">480p (КАРТОШКА)</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="menu-buttons">
                        <button id="btn-continue" class="btn">ПРОДОЛЖИТЬ</button>
                        <button id="btn-new-game" class="btn disabled">ПЕРЕЗАГРУЗКА</button>
                        <button class="pause-btn-back btn">ВЫЙТИ</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu-screen menu-choose screen hidden" id="screen-game-over">
            <h2 class="menu-title">МАТЧ ОКОНЧЕН</h2>

            <div class="room-stats end-game-stats">
                <table class="end-game-table">
                    <thead>
                    <tr class="table-titles">
                        <th class="table-title">Игрок</th>
                        <th class="table-title">Убийства</th>
                        <th class="table-title">Смерти</th>
                    </tr>
                    </thead>
                    <tbody id="end-game-stats-body">
                    </tbody>
                </table>
            </div>

            <div class="menu-buttons">
                <button class="btn" id="btn-exit-to-lobby-from-stats">ВЫЙТИ В ЛОББИ</button>
            </div>
        </div>

    </body>
</html>