<!DOCTYPE html>
<html lang="ru">
    <head>
      <meta charset="UTF-8">
      <title>Мёртвая зона — Профиль не найден</title>
      <link rel="stylesheet" href="/styles/menu.css">
      <link href="/styles/fonts-styles.css" rel="stylesheet">
      <link rel="stylesheet" href="/styles/profileNotFound.css">
      <script src="/scripts/pages/publicProfile/exitPublicProfile.js" defer></script>
      <script src="/scripts/pages/profileNotFound/profileNotFound.js" defer></script>
        <script src="/scripts/ui/scaleUI.js" defer></script>
    </head>
    <body>
        <div class="menu-screen">
            <h2 class="menu-title">ЦЕЛЬ НЕ НАЙДЕНА</h2>
            <div class="not-found-icon">☠</div>
                <p class="not-found-text">Похоже, этот выживший не значится в наших записях.<br>Возможно, ссылка устарела или аккаунт был удалён.</p>
            <div class="not-found-id" id="requested-id"></div>
            <button class="btn btn-exit">НАЗАД К ЛИДЕРАМ</button>
        </div>
    </body>
</html>