<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>DeadZone</title>
  <link rel="stylesheet" href="/styles/menu.css">
  <link rel="stylesheet" href="/styles/multiplayer.css">
  <link rel="stylesheet" href="/styles/create-room.css">
  <script type="module" src="/scripts/main.js" defer></script>
  <link href="/styles/fonts-styles.css" rel="stylesheet">
</head>
<body>
<canvas id="gameCanvas" width="1280" height="720" data-target="waves"></canvas>
<div id="screen-pause" class="pause-overlay">
  <div class="menu-screen menu-choose">
    <h2 class="menu-title">ПАУЗА</h2>
    <div class="menu-buttons">
      <button id="btn-continue" class="btn">ПРОДОЛЖИТЬ</button>
      <button id="btn-new-game" class="btn">ПЕРЕЗАГРУЗКА</button>
      <button class="pause-btn-back btn">ВЫЙТИ</button>
    </div>
  </div>
</div>
</body>
</html>