body {
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
canvas {
    background: #000;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.2);
    border: 2px solid #333;
}

#ui-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 20, 20);
    display: none;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

#ui-layer.active {
    display: flex;
}

#ui-layer.pause {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
}

.menu-screen {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.menu-screen.active {
    display: flex;
}

.menu-buttons {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.ui-layer__main-menu {
    margin-top: 0;
}

.menu-choose {
    align-self: center;
    align-items: center;
}

.menu-title {
    font: 45px/18px 'Spielarcade Regular', sans-serif;
}

.btn {
    width: 1000px;
    padding: 15px;
    background-color: #333;
    color: white;
    border: 2px solid #555;
    cursor: pointer;
    transition: 0.2s;
    text-transform: uppercase;
    font: 45px/18px 'Spielarcade Regular', sans-serif;
}

.btn.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.ui-layer__profile-menu {
    margin-top: 100px;
}

.profile-menu__stats {
    margin-left: 50px;
    align-self: flex-start;
}

.stats-text {
    font: 45px/18px 'Spielarcade Regular', sans-serif;
}
