<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DeadZone</title>
    <link rel="stylesheet" href="/styles/mode.css">
    <link rel="stylesheet" href="/styles/create-room.css">
    <link href="/styles/fonts-styles.css" rel="stylesheet">
    <script src="/scripts/pages/create-join-room/buttonListeners.js" defer></script>
    <script type="module" src="/scripts/pages/create-room/form.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">СОЗДАНИЕ КОМНАТЫ</h2>
    <div class="input-container">
        <label class="input-name-label input-label">Введите название комнаты: <input type="text" class="input-name input"></label>
    </div>

    <input type="submit" class="room-submit btn" value="СОЗДАТЬ КОМНАТУ">
    <div class="menu-buttons">
        <button class="btn btn-exit">НАЗАД</button>
    </div>
</div>
</body>
</html>