<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/finalScreen.css">
    <link href="/styles/fonts-styles.css" rel="stylesheet">
    <script src="/scripts/pages/singleplayer/wavesFinalScreen.js" defer></script>
</head>
<body>
    <div class="container">
        <h1 class="title" id="result"></h1>
        <img class="image" src="" alt="Картинка" id="image">
        <p class="text" id="wave"></p>
        <p class="text" id="damage"></p>
        <p class="text" id="kills"></p>
        <div class="buttons">
            <button class="button" id="menu">В меню</button>
            <button class="button" id="restart">Рестарт</button>
        </div>
    </div>
</body>
</html>