<!DOCTYPE html>
<html>
    <head>
        <title>Triumvirate</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/styles/form.css">
        <script src="/scripts/pages/form/buttonRepeateSwitch.js" defer></script>
        <script src="/scripts/pages/form/formRegistration.js" defer></script>
        <script src="/scripts/pages/form/formLogin.js" defer></script>
    </head>
    <body>

    <span class="error__message hidden"></span>

    <button class="button__repeat-switch">Перейти к логину</button>

    <form class="form-registration">
        <p>Имя пользователя</p>
        <input type="text" name="nickname">
        <p>Логин пользователя</p>
        <input type="text" name="username">
        <p>Пароль</p>
        <input type="text" name="password">
        <input type="submit" value="Отправить">
    </form>

    <form class="form-login hidden">
        <p>Логин пользователя</p>
        <input type="text" name="username">
        <p>Пароль</p>
        <input type="text" name="password">
        <input type="submit" value="Отправить">
    </form>
    </body>
</html>