<!DOCTYPE html>
<html>
    <head>
        <title>Symfony</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="styles/form.css">
        <script src="scripts/form/buttonRepeateSwitch.js" defer></script>
        <script src="scripts/form/formRegistration.js" defer></script>
        <script src="scripts/form/formLogin.js" defer></script>
    </head>
    <body>

    <span class="error__message hidden"></span>

    <button class="button__repeat-switch">Перейти к логину</button>

    <form action="../index.php" method="POST" class="form-registration">
        <p>Имя пользователя</p>
        <input type="text" name="nickname">
        <p>Логин пользователя</p>
        <input type="text" name="username">
        <p>Пароль</p>
        <input type="text" name="password">
        <input type="submit" value="Отправить">
    </form>

    <form action="../index.php" method="GET" class="form-login hidden">
        <p>Логин пользователя</p>
        <input type="text" name="username">
        <p>Пароль</p>
        <input type="text" name="password">
        <input type="submit" value="Отправить">
    </form>
    </body>
</html>