<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DeadZone</title>
    <link rel="stylesheet" href="styles/mode.css">
    <script src="scripts/navigate.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">ВЫБЕРИ РЕЖИМ ИГРЫ</h2>
    <div class="menu-buttons">
        <button class="btn" data-target="singleplayer">ОДИНОЧНАЯ ИГРА</button>
        <button class="btn disabled" title="В разработке...">МНОГОПОЛЬЗОВАТЕЛЬСКАЯ ИГРА</button>
        <button class="btn" data-target="show">НАЗАД</button>
    </div>
</div>
</body>
</html>