<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DeadZone</title>
    <link rel="stylesheet" href="/styles/mode.css">
    <link href="/styles/fonts-styles.css" rel="stylesheet">
    <script src="/scripts/pages/multiplayer/buttonListeners.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">ЛОББИ</h2>
    <div class="menu-buttons">
        <button class="btn btn-createRoom">СОЗДАТЬ КОМНАТУ</button>
        <button class="btn btn-joinRoom">ПРИСОЕДИНИТЬСЯ К КОМНАТЕ</button>
        <button class="btn btn-serversList disabled" title="В РАЗРАБОТКЕ ...">СПИСОК СЕРВЕРОВ</button>
        <button class="btn btn-exit">НАЗАД</button>
    </div>
</div>
</body>
</html>