<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DeadZone</title>
    <link rel="stylesheet" href="/styles/mode.css">
    <link rel="stylesheet" href="/styles/create-room.css">
    <link href="/styles/fonts-styles.css" rel="stylesheet">
    <script type="module" src="/scripts/pages/room/roomListeners.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">КОМНАТА</h2>
    <div class="room-stats">
        <h3 class="roomId">ID КОМНАТЫ: <span id="roomId-span">Загрузка...</span></h3>
        <p class="players-count">
            <span class="cur-players-count count" id="cur-players-count">0</span>/
            <span class="max-players-count count" id="max-players-count">0</span>
        </p>
        <div class="players-list" id="players-list">

        </div>

    </div>

    <button class="room-submit ready-btn btn" id="ready-btn">НЕ ГОТОВ</button>
    <div class="menu-buttons">
        <button class="btn btn-exit" id="btn-exit">ВЫЙТИ ИЗ КОМНАТЫ</button>
    </div>
</div>
</body>
</html>