<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DeadZone</title>
    <link rel="stylesheet" href="/styles/mode.css">
    <link rel="stylesheet" href="/styles/create-room.css">
    <link href="/styles/fonts-styles.css" rel="stylesheet">
    <script src="/scripts/pages/create-join-room/buttonListeners.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">КОМНАТА</h2>
    <h3 class="roomId">ID КОМНАТЫ: <span id="roomId-span">Загрузка...</span></h3>
    <div class="players-list" id="players-list">

    </div>
    <button class="room-submit ready-btn btn" id="ready-btn">НЕ ГОТОВ</button>
    <div class="menu-buttons">
        <button class="btn btn-exit" id="btn-exit">ВЫЙТИ ИЗ КОМНАТЫ</button>
    </div>
</div>
</body>
</html>