<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>DeadZone</title>
    <link rel="stylesheet" href="/styles/singleplayer.css">
    <script src="/scripts/pages/singleplayer/exitSingleplayer.js" defer></script>
    <script src="/scripts/pages/singleplayer/openTraining.js" defer></script>
</head>
<body>
<div class="menu-screen menu-choose">
    <h2 class="menu-title">ВЫБЕРИ ИГРУ</h2>
    <div class="menu-buttons">
        <button class="btn btn-openTraining" data-target="game">ТРЕНИРОВКА</button>
        <button class="btn disabled" title="В разработке...">ВОЛНЫ</button>
        <button class="btn disabled" title="В разработке...">ЗАКЛАДКА БОМБЫ</button>
        <button class="btn btn-exit" data-target="mode">НАЗАД</button>
    </div>
</div>
</body>
</html>